<!DOCTYPE html>
<html ng-app="app" ng-controller="Todo">
<head>
	<meta charset="utf-8">
	<title>{{::todo.user}}'s TO DO List</title>
	<link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="vendor/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/ng-cloak.css" rel="stylesheet">
</head>
<body ng-cloak>
	<div class="container">
		<div ng-include="'page-header.html'"></div>
		<div class="panel">
			<form novalidate name="newTask">
				<div class="form-group">
					<label for="action">Action:</label>
					<div class="input-group">
						<input id="action" name="action" class="form-control"
						ng-model="newItem.action"/>
						<span class="input-group-btn">
							<button class="btn btn-default" ng-click="addNewItem(todo.items, newItem)"
							ng-disabled="!newItem.action">Add</button>
						</span>
					</div>
				</div>
			</form>
			<task-list></task-list>
		</div>
	</div>
	<script src="vendor/angular/angular.min.js"></script>
	<script src="app.js"></script>
</body>
</html>
