<form novalidate name="newTask">
  <div class="form-group">
      <label for="action">Action</label>
      <input id="action" name="action" class="form-control"
      ng-model="newItem.action"/>
    </div>
    <div class="form-group form-inline">
      <label for="responsible">Responsible</label>
      <input id="responsible" name="responsible" class="form-control"
      ng-model="newItem.responsible"/>
      <label for="deadline">Deadline</label>
      <input id="deadline" type="date" name="deadline" class="form-control"
      ng-model="newItem.deadline"/>
      <label for="estimated">Est. Hours</label>
      <input id="estimated" type="number" name="estimated" class="form-control"
      ng-model="newItem.estimated"/>
        <button class="btn btn-default" ng-click="addNewItem(todo.items, newItem)"
        ng-disabled="!newItem.action || !newItem.responsible || !newItem.deadline || !newItem.estimated">Add</button>
    </div>

</form>
